.paginado2{
    font-family: 'TTVTechPrecomput', sans-serif;
    display: flex;
    background-image: url(bosque.jpeg); 
    background-position: center;
    background-size: cover; 
    height: 100vh;
}

.imagdetalle{
    border-radius: 35px;
    border:5px solid #eb5e28;
    margin: 50px;
    width: 400px;
    height: 400px;
}
.imagenLoading{
    margin-top: 100px;
}
.cardDetalle{
    border: 2px solid #eb5e28;
    border-radius: 35px;
    width: 300px;
    height: 700px;
    margin: 15px;
    background-color: rgba(201, 192, 192, 0.856);
    text-align: center;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 20px;
    color:  #1a1b1b;
}  

.botonDetails{
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 40px;
    background-color: transparent;
    border: 2px solid #eb5e28;
    color:#e5e5e5;
    padding: 8px 20px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}
.botonDetails:hover {
background-color: #eb5e28;
color:#e5e5e5;
transition: all 0.3 ease-out;
}

.base3{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1a1b1b;
    padding: 0%;
}
