.formPerfil{
      background-image: url(./pokeCreate.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;  
      height: 100vh;
      font-family: 'TTVTechPrecomput', sans-serif;
      font-size: 30px;
      color: #343a40;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .form{
      padding: 0.5rem;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border: 3px solid #FFD700;
      border-radius: 35px;
      width: 900px;
      height: 600px;
      margin: 10px;
      background-color: rgba(201, 192, 192, 0.856);
      font-family: 'TTVTechPrecomput', sans-serif;
      color:  #1a1b1b;
    }
    
    .titleForm{
    display: flex;
    justify-content: center;
    font-size: 70px;
    color:  #1a1b1b;
    font-weight: bold;
    }
    
  
    .concatFiltro{
      display: inline-flex;
    }
    
    .boton{
      padding: 8px 20px;
      border-radius: 35px;
      border: 5px solid #00008B;
      list-style: none;
      color:#252422;
      font-family: 'TTVTechPrecomput', sans-serif;
      font-weight: bold;
      
      margin: 0 8px;
      cursor: pointer;
      white-space: nowrap; 
      
      outline: none;
      cursor: pointer;
      font-size: 40px;
      background-color: #FFD700;
      
}
      .boton::before {
          content: " ";
          
          border-radius: 35px;
          top: 0;
          left:0;
          height:100%;
          width: 100%;
          z-index:-1;
          transition: .2s;
      }
  
  .boton:hover {
          border-color: #0000CD;
          box-shadow: 0px 3px 20px 0px black;
          transform: scale(1.2);
          background-color: #FFD700;
          color:#252422;
          transition: all 0.3 ease-out;
  }
  
    .types{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;
      height: 7rem;
    }
  
    .choosed {
      background-color: rgba(54, 54, 54, 0.8);
      width: 650px;
      height: 100px;
      padding: 0rem;
      border-radius: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow-x: auto;
    }
  
    
    .choosed::-webkit-scrollbar {
      width: 1rem;
      background-color: #FFD700;
    }
  
    .choosed::-webkit-scrollbar-thumb {
      background-color: #252422;
      border-radius: 10px;
    }
  
   .card98 {
      width: 5rem;
      height: 2.5rem;
      background-color: #ccc5b98a;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
      border-radius: 8px;
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; 
      padding: 0rem;
    }
  
  .cross {
      width: 0.9rem;
      height: 0.9rem;
      background-color: #504f4f;
      border-color: #504f4f;
      color: rgb(47, 43, 47);
      border-radius: 4px;
      display: flex; 
      justify-content: center;
      align-items: center;
  
  }
  
  .cross:hover{
    color:#FFD700;
    transition: all 0.3 ease-out;
  }
  
  .pokeName{
    font-size: 0.8rem;
    font-family: Helvetica;
  }
  
  
  .btn-createPoke{
    border-radius: 35px;
    border-color: #403d39;
    list-style: none;
    color:#252422;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 30px;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap; 
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FFD700;
  }
  
  
  .btn-createPoke::before {
    content: " ";
    position: absolute;
    border-radius: 35px;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    z-index:-1;
    transition: .2s;
  }
  
  .btn-createPoke:hover {
    border-color: #252422;
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
    background-color: #FFD700;
    color:#252422;
    transition: all 0.3 ease-out;
  }