.card-poke {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    }

    
.div-filt{
    display: flex;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 0px;
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 25px;
margin-bottom: 50px;
justify-content: space-around;
}  

.div-buttons{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    padding-top: 30px;
} 

.Loader{
justify-content: center;
}

.home-container{
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 30px;
    background-color: #0000CD;
    background-image: url(./pokeHome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 150vh;
}

.home-btn{
    border-radius: 35px;
    border: 5px solid #272727;
    list-style: none;
    color:#252422;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap; 
    padding: 8px 20px;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    background-color: #FFD700;
    
    }

    .home-btn::before {
        content: " ";
        position: absolute;
        border-radius: 35px;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
    }

.home-btn:hover {
        border-color: #0000CD;
        box-shadow: 0px 3px 20px 0px black;
        transform: scale(1.2);
        background-color: #FFD700;
        color:#252422;
        transition: all 0.3 ease-out;
}

.name-filt{
    color: #e5e5e5;
    background: #747474a4;;
    border: 3px solid #272727;
    border-radius: 15px;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 30px;
    padding: 10px ;
}

.div-not-found{
    border: 3px solid #0000CD;
    border-radius: 35px;
    width: 400px;
    height: 300px;
    margin: 30px;
    background-color: rgba(201, 192, 192, 0.856);
    text-align: center;
    font-family: 'TTVTechPrecomput', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color:  #1a1b1b;
}