.paginated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.paginated li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #07182E;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.paginated .active {
  border: 2px solid rgb(255, 48, 255);
  box-shadow: 10px 10px 15px #191919;
  
}