.paginated {
	width: 50%;
	height: 4vh;
	line-height: 4vh;
	background-color: #747474a4;
    border-radius: 35px;
    margin-left: 25vw;
}

ul {
    display: flex;
	padding: 0;
	margin: 0;
	box-shadow: 0 10px 20px 0 rgba(black, 0.25);
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	flex: 1;
	list-style: none;
	text-align: center;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	transition: 0.5s ease;
	cursor: pointer;
	user-select: none;
}

li:hover {
	background-color: rgba(white, 0.25);
	color: #eb5e28;
}